.barra-principal {
    display: flex;
    align-items: center;
    gap: 10px;
}

.barra-principal h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid #33364f;
    margin: -3px 0;
}

.barra-de-pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 6px 180px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    border: 2px solid #33364f;
    width: 100%;
    max-width: 450px;
    transition: all 0.3s ease;
    margin: 10px;
}

.botao-pesquisa {
    display: flex;
    background-color: #ffffff;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 570px;
}

.entrada-pesquisa {
    display: flex;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    color: #33364f;
}