<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Connecto - Login</title>
  <link href="../static/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>CONNECT<span>O</span></h1>
  <p class="slogan">Conecte-se ao seu futuro</p>

  <div class="abas">
    <a href="login.html" class="ativa">Entrar</a>
    <a href="#">Criar Conta</a>
  </div>

  <form action="perfil.html">
    <p><b>MATRÍCULA</b></p>
    <input type="text" placeholder="Ex.: 2412345">

    <p><b>SENHA</b></p>
    <input type="password" placeholder="Sua senha">

    <p class="esqueci"><a href="#">Esqueci minha senha</a></p>

    <button>Entrar</button>
  </form>

  <p class="slogan">Ainda não tem conta? <a href="#">Criar conta</a></p>
</body>

</html>
