<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>CONNECTO</title>
</head>

<body>
    <div class="barra-principal">
        <img src="connectologo-transparente-simples.png" width="70">
        <h2>CONNECTO</h2>
       
    </div>
    <hr>
    <div class="barra-de-pesquisa">
        <form action="/buscar" method="GET">
            <input type="search" placeholder="Área, empresa ou curso" class="entrada-pesquisa">
            <button type="submit" class="botao-pesquisa"><img src="lupa.png" width=30></button>
        </form>
    </div>


</body>