body {
  background-color: #1f2235;
  font-family: Arial;
}

h1 {
  color: white;
}

span {
  color: green;
}

h2 {
  color: white;
  text-align: center;
}

h2 a {
  color: white;
  text-decoration: none;
}

.card {
  background-color: white;
  width: 320px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
}

.curso {
  color: #4a8fd0;
}

.contadores {
  display: flex;
  justify-content: center;
}

.caixa {
  background-color: #eef0f6;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.vermelho {
  color: red;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4a8fd0;
  color: white;
  border: none;
  border-radius: 20px;
}
